@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Sigmar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Pacifico&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


body{
    background-color: bisque;
}

.flex{
    display: flex;
}

.perfume{
    width: 350px;
    height: 634px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

h3{
    font-family: 'Sigmar', cursive;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    padding: 0;
}

p{
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    color: grey;
}

h2{
    font-weight: 900;
    font-size: 40px;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin-top: 0;
    color: aquamarine;
}

.text-div{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0;
    background-color: aliceblue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.cost{
    font-size: 30px;
    text-decoration: line-through;
    color: grey;
}

.cart-img{
    width: 30px;
    height: 30px;
    flex: 1;
    margin-right: 20px;
}

.cart {
    display: flex;
    align-items: center;
    background-color: green;
    border-radius: 5px;
  }

.cart p {
    flex: 2;
    color: white;
    letter-spacing: 0.2rem;
  }

.floral{
    width: 240px;
}  

.gabrielle{
    width: 240px;
}

@media only screen and (max-width: 600px) {

.perfume{
   content: url('image-product-mobile.jpg');
   width: 360px;
   height: 320px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 0;
}

.floral{
    width: 300px;
}

.gabrielle{
    width: 350px;
}

.text-div{
    width: 300px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0;
}
}